<!-- Copyright (C) Microsoft Corporation. All rights reserved. -->
@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-0" style="padding-left: 0 !important; padding-right: 0 !important;">
            <div class="notflix_logo_container">
                <a class="navbar-brand" href="">
                    <img src="NotflixLogo.png" alt="NotFlix logo" class="notflix_logo_img" />
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
